<p>
	Kramnorth Limited is a software application and development company specialising in mobile and scalable solutions. We are
	passionate about open source software and technology and commited to excellence <a href="http://github.com/kramnorth/kramnorth.github.io">(checkout this site on github!).</a>
</p>
<p>
	<h3>Technologies</h3>
	<p>We work with the following technologies.</p>
	
	<a href="http://php.net" class="preview" target="_blank">
		<img src="graphics/technologies/php.png"/>
		<h4>PHP</h4>
	</a>
	<a href="http://cassandra.apache.org" class="preview" target="_blank">
		<img src="graphics/technologies/cassandra.png"/>
		<h4>Cassandra</h4>
	</a>
	<a href="http://html5.org" class="preview" target="_blank">
		<img src="graphics/technologies/html5.png"/>
		<h4>HTML5</h4>
	</a>
	<a href="http://developer.apple.com/ios" class="preview" target="_blank">
		<img src="graphics/technologies/ios.png"/>
		<h4>iOS (iPhone & iPad)</h4>
	</a>
	<a href="http://cordova.apache.org" class="preview" target="_blank">
		<img src="graphics/technologies/cordova.png"/>
		<h4>Cordova (Phonegap)</h4>
	</a>
	
	<a href="http://angularjs.org" class="preview" target="_blank">
		<img src="graphics/technologies/angularjs.png"/>
		<h4>AngularJS</h4>
	</a>
</p>
<div style="clear:both;"></div>
<!--<p>
	<h3>Projects and Clients</h3>
	<a href="http://www.minds.com" class="preview" target="_blank">
		<img src="graphics/projects/minds.png"/>
		<h4>Minds.org, Inc.</h4>
	</a>
	<a href="http://github.com/juglr" class="preview" target="_blank">
		<img src="graphics/projects/juglr.png"/>
		<h4>Juglr</h4>
	</a>
	<a href="http://github.com/kramnorth/theseus" class="preview" target="_blank">
		<img src="graphics/projects/theseus.png"/>
		<h4>Theseus</h4>
	</a>
</p>-->
